<!-- start custom footer snippets -->

<a href="/sitemap/">Sitemap</a>

{% if page.mathjax %}
<!-- Support for MathJax (loaded only on pages with mathjax: true) -->
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
{% endif %}

{% if page.plotly %}
<!-- Support for Plotly (loaded only on pages with plotly: true) -->
<script defer src='https://cdn.jsdelivr.net/npm/plotly.js@2/dist/plotly.min.js'></script>
{% endif %}

{% if page.mermaid %}
<!-- Support for Mermaid (loaded only on pages with mermaid: true) -->
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({startOnLoad:true, theme:'default'});
    await mermaid.run({querySelector:'code.language-mermaid'});
</script>
{% endif %}

<!-- end custom footer snippets -->
