{% include base_path %}

<!-- start custom head snippets -->

<!-- Preconnect to external resources -->
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">

<!-- Support for Academicons (non-render-blocking) -->
<link rel="preload" href="{{ base_path }}/assets/css/academicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.min.css"></noscript>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
